.auth {
    min-height: calc(100vh - 268px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 1024px){
.auth {
    min-height: calc(100vh - 186px);
}
}